name: Call a reusable workflow
on: create
jobs:
  call-workflow-passing-data:
    uses: Matt-J-Dong/GitHub-Actions-Tester/.github/workflows/reusable.yaml@main
    with:
      username: mona
    secrets:
      token: ${{ secrets.TOKEN }}