name: learn-github-actions
on: 
  push
jobs:
  check-bats-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '14'
      - run: npm install -g bats
      - run: bats -v
  example-job:
      runs-on: ubuntu-latest
      steps:
      - uses: Matt-J-Dong/GitHub-Actions-Tester/.github/workflows/reusable.yaml@main
      - run: echo this is an echo